[Desktop Entry]
Name=Trash
Name[en_GB]=Wastebin
Comment=Contains removed files
Comment[en_GB]=Contains removed files
Icon=user-trash-full
EmptyIcon=user-trash
Type=Link
URL=trash:/
OnlyShowIn=KDE;
